body {
    background-color: #EAEAEA;
}

#warp {

    position: relative;
    width: 500px;
    height: 650px;
    margin: 0 auto;
    text-align: center;
    border: 1px solid rgb(252, 252, 252);
    background-color: #ffffff;
    top: 100px;
    border-radius: 10px;
    box-shadow: 1px 2px 10px rgb(68, 68, 68);
}

.logotitle {
    position: absolute;
    width: 450px;
    top: -300px;
    left: 30px;
}

.menu {
    border: 1px solid #ccc;
    position: relative;
    box-shadow: 1px 1px 5px rgb(255, 254, 251);


}

.login {
    width: 300px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #346D76;
    margin: 0 auto;
    padding: 10px;
    letter-spacing: 5px;
    border-radius: 30px;
    margin-top: 20px;
    margin-bottom: 20px;

}

#name,
#pw {
    display: block;
    padding: 15px 30px 15px 30px;
    font-size: 15px;
    margin: 0 auto;
    margin-top: 15px;
    border-radius: 10px;
    text-align: center;
    background-color: #ffffff;
}

.btnLo {
    margin-top: 20px;
    padding: 20px 75px 20px 75px;
    font-size: 20px;
    background: linear-gradient(to left, rgb(223, 223, 223), rgb(182, 182, 182));
}

.btnLo:hover {
    opacity: 0.7;
}

.p1 {
    font-size: 25px;
    text-decoration: overline;
}

.easy {
    font-weight: bold;
    font-size: larger;
}

.button1 {
    margin-bottom: 10px;

}

.qr {
    padding: 20px;
}

.one {
    padding: 20px;
}



.menu a {
    position: relative;
    text-decoration: none;
    color: black;
}

.menu a::before {
    content: ':';

}

.menu a:hover {
    color: red;
}

.menu .member {
    display: block;
    font-size: 1.5em;
    color: red;
}