* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.5em;
    background-color: #EAEAEA;

}

#warp {
    position: relative;
    top: 50px;

}

.logo {
    position: absolute;
    width: 200px;
    top: -90px;
    left: 45%;

}

a {
    text-decoration: none;
    color: black;
    font-size: 12px;
}

input {
    margin: 4px;
    padding: 10px 20px 10px 20px;
}

select {
    padding: 10px 20px 10px 20px;
}

.number {
    position: relative;
}

.field {
    display: inline-block;
    width: 300px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.input2 {
    text-align: center;
}

.footer {
    font-size: 15px;
}

.footer .spantag {
    font-size: 15px;
    display: block;
    text-align: center;
}